{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "dynamic-import-node",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "ignore": [
  ]
}
